.projectsect{
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.projects{
     background: radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}
.projectimg{
    height:300px !important;
}

.projectswiper {
    width: 80% !important;
    height: 90% !important;
    position: relative;
  }
  
  .sliderswiper {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderswiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    /* background-color: #008CBA; */
    background: radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .sliderswiper:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .overlaytext {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .swiper-button-prev{
border: 2px solid rgb(0, 0, 0) ; 
  }
  .swiper-button-next{
    border: 2px solid rgb(0, 0, 0) ; 

  }