.icondiv{
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
    border-radius:50%;
    width:90px;
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.textcounter{
    font-size: 18px;
    font-weight:500;
    font-family: 'Poppins',sans-serif;
}
.number{
    font-size: 24px;
    font-weight: 700;
}
.countersection{
    /* background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); */
    /* background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); */
    /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
    /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
    background: radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   
}
.heading-section{
    text-align: left !important;
    color: black !important;
}
.subheading{
    text-align: left !important;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black !important;
}
.Mainheading{
    font-size: 34px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    color: black !important;
}
.intro{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: black !important;
}
.mainhead{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600; 
    color: black !important;
}
.subinfo{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: black !important;
}
.textdf{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;  color: black !important;
}
.icons{
    font-size: 36px;
}