.footersect{
    background: radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    
}
.arrowsign{
    font-size: 12px;
}
.Footerlinks{
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    

}
.Footerlinks li {
    padding-bottom:5px ;
    color: black !important;
}
.linkss ul li a{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color:black !important;
    margin-left: 5px;
  }
.socialicons{
    margin-right: 5px;
}